# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# Visual Studio Code related
.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
/coverage/

# Windows related
/windows/flutter/ephemeral/
/windows/flutter/generated_config.cmake
/windows/CMakeSettings.json
/windows/runner/*.res
/windows/runner/CMakeLists.txt.user
/windows/runner/GeneratedFiles/
/windows/runner/Release/
/windows/runner/Debug/
/windows/runner/Profile/
/windows/runner/x64/
/windows/.vs/
/windows/out/
*.exe
*.dll
*.pdb

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Linux specific
/linux/flutter/ephemeral/
/linux/flutter/generated_config.cmake

# Exceptions
!/windows/runner/resources/*.res

